{{ ansible_managed | comment }}

[Unit]
Description=Prometheus Keepalived Exporter
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/keepalived_exporter
SyslogIdentifier=keepalived_exporter
Restart=always
RestartSec=1
StartLimitInterval=0
ProtectSystem=full
WorkingDirectory=/opt

[Install]
WantedBy=multi-user.target
