vip_ips: ["10.0.0.13"]
vip_priority_host: vpn-2.lab

vip_notify_script_enabled: true
vip_notify_script: |
  #!/bin/bash

  TYPE=$1
  NAME=$2
  STATE=$3

  case $STATE in
          "MASTER") /usr/bin/wg-quick up wg0
                    exit 0
                    ;;
          "BACKUP") /usr/bin/wg-quick down wg0
                    exit 0
                    ;;
          "FAULT")  /usr/bin/wg-quick down wg0
                    exit 0
                    ;;
          *)        echo "unknown state"
                    exit 1
                    ;;
  esac

vip_check_script_enabled: true
vip_check_interval: 5
vip_check_script: |
  #!/bin/bash

  if ip addr | grep "{{ vip_ips[0] }}"; then
    wg show wg0 && ping -W 1 -c 3 10.8.0.1
  else
    exit 0
  fi
vip_metrics_enabled: true
crog_actions:
  - name: Heartbeat
    command: ping -W 1 -c 1 10.0.0.1
    tries: 3
    code: 0
    cron: "* * * * *"
    when:
      start: "{{ healthcheck }}/start"
      success: "{{ healthcheck }}"

wireguard_ip_forwarding: true
