apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system

helmCharts:
  - name: cilium
    version: "1.19.1"
    repo: https://helm.cilium.io
    valuesFile: values.yaml
