---
generic:
  nameOverride: open-webui
  fullnameOverride: open-webui

  replicaCount: 1

  deploymentStrategy:
    type: Recreate

  image:
    repository: ghcr.io/open-webui/open-webui
    pullPolicy: IfNotPresent
    tag: "v0.6.36"

  service:
    port: 8080

  probes:
    enabled: false

  ingress:
    enabled: true
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-public@kubernetescrd
    hosts:
      - host: ai.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: ai-plexmox-com-tls
        hosts:
          - ai.plexmox.com

  config:
    OLLAMA_BASE_URLS: http://mac-mini.lab:11434

  pvc:
    enabled: true
    size: 5Gi
    storageClassName: longhorn
    mountPath: /app/backend/data

  tty: true
