generic:
  nameOverride: sonarr
  fullnameOverride: sonarr

  replicaCount: 1

  image:
    repository: ghcr.io/home-operations/sonarr
    pullPolicy: IfNotPresent
    tag: "4.0.16.2946"

  service:
    port: 8989

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 8989
        matches:
          - path:
              type: PathPrefix
              value: /sonarr
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: organizr-auth-public
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: sonarr

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-organizr-auth-public@kubernetescrd,media-sonarr@kubernetescrd
    hosts:
      - host: plexmox.com
        paths:
          - path: /sonarr
            pathType: ImplementationSpecific
    tls:
      - secretName: plexmox-com-tls
        hosts:
          - plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 2Gi

  deploymentStrategy:
    type: Recreate

  probes:
    initialDelaySeconds: 15
    type: tcpSocket
    options:
      port: http

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

  config:
    SONARR__AUTH__METHOD: External
    SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
    SONARR__POSTGRES__MAINDB: sonarr-main
    SONARR__POSTGRES__LOGDB: sonarr-log
    SONARR__SERVER__URLBASE: sonarr
    TZ: Europe/London

  env:
    - name: SONARR__POSTGRES__HOST
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-sonarr
          key: host
    - name: SONARR__POSTGRES__USER
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-sonarr
          key: user
    - name: SONARR__POSTGRES__PASSWORD
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-sonarr
          key: password

  volumes:
    - name: media
      hostPath:
        path: /plex

  volumeMounts:
    - mountPath: /data
      name: media
