loki:
  deploymentMode: SingleBinary

  chunksCache:
    enabled: true
    allocatedMemory: 256
  resultsCache:
    enabled: true
    allocatedMemory: 256

  lokiCanary:
    enabled: false

  gateway:
    service:
      labels:
        prometheus.io/service-monitor: "false"

  ingress:
    enabled: false
    ingressClassName: internal
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
    hosts:
      - loki.plexmox.com
    tls:
      - secretName: loki-plexmox-com-tls
        hosts:
          - loki.plexmox.com

  loki:
    auth_enabled: false
    commonConfig:
      replication_factor: 1
    storage:
      type: s3
      bucketNames:
        chunks: loki
        ruler: loki-ruler
      s3:
        s3: https://garage.plexmox.com
        endpoint: https://garage.plexmox.com
        region: garage
        insecure: false
        accessKeyId: ${GARAGE_ACCESS_KEY}
        secretAccessKey: ${GARAGE_SECRET_KEY}
        s3ForcePathStyle: true

    memberlist:
      join_members: ["loki-memberlist"]

    limits_config:
      retention_period: 30d
      ingestion_rate_strategy: local
      # Uncomment this if running a single replica
      # split_queries_by_interval: 0

    rulerConfig:
      enable_alertmanager_v2: true
      alertmanager_url: http://kube-prometheus-stack-alertmanager.monitoring.svc:9093
      storage:
        type: local
        local:
          directory: /rules
      rule_path: /tmp/scratch
      wal:
        dir: /var/loki/ruler-wal
      remote_write:
        enabled: true
        clients:
          victoria:
            url: http://vmagent-metrics.monitoring.svc:8429/api/v1/write

    compactor:
      compaction_interval: 10m
      retention_enabled: true
      retention_delete_delay: 2h
      retention_delete_worker_count: 150
      delete_request_store: s3

    schemaConfig:
      configs:
        - from: "2022-01-11"
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h
          chunks:
            period: 24h

  sidecar:
    rules:
      enabled: true
      labelValue: "true"
      folder: /rules/fake

  read:
    replicas: 0
  write:
    replicas: 0
  backend:
    replicas: 0

  singleBinary:
    replicas: 1
    persistence:
      storageClass: longhorn-no-backups
      size: 5Gi
    extraVolumes:
      - name: scratch
        emptyDir: {}
    extraVolumeMounts:
      - name: scratch
        mountPath: /tmp/scratch

    extraArgs:
      - -config.expand-env=true

    extraEnv:
      - name: GARAGE_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: loki-minio
            key: garage-access-key
      - name: GARAGE_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: loki-minio
            key: garage-secret-key

    service:
      annotations:
        netbird.io/expose: "true"
        netbird.io/groups: telemetry

  test:
    enabled: false

  monitoring:
    dashboards:
      enabled: true
      annotations:
        grafana_folder: Loki
    rules:
      enabled: true
    selfMonitoring:
      enabled: false
    serviceMonitor:
      enabled: true
      metricRelabelings:
        - action: drop
          sourceLabels: ["__name__"]
          regex: loki_(request_duration|logql_querystats_bytes_processed_per)_seconds_bucket
