traefik:
  # yaml-language-server: $schema=https://github.com/traefik/traefik-helm-chart/raw/refs/heads/master/traefik/values.schema.json

  image:
    repository: traefik
    tag: v3.6.8

  deployment:
    kind: DaemonSet

  logs:
    access:
      enabled: true

  metrics:
    prometheus:
      serviceMonitor:
        enabled: true

  ports:
    web:
      http:
        redirections:
          entryPoint:
            to: websecure
            shceme: https

  ingressRoute:
    dashboard:
      enabled: true
      labels:
        traefik-instance: internal
      annotations:
        kubernetes.io/tls-acme: "true"
      middlewares:
        - name: auth-internal
      matchRule: Host(`traefik-internal.plexmox.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
      tls:
        secretName: wildcard-plexmox-com-tls

  providers:
    kubernetesCRD:
      ingressClass: internal
      labelSelector: traefik-instance=internal
    kubernetesIngress:
      enabled: true
      ingressClass: internal
    kubernetesGateway:
      enabled: true
      labelSelector: traefik-instance=internal

  ingressClass:
    isDefaultClass: false
    name: internal

  gateway:
    enabled: false

  gatewayClass:
    name: internal
    labels:
      traefik-instance: internal

  additionalArguments:
    - --experimental.kubernetesingressnginx

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.27
