pyroscope:
  agent:
    enabled: false

  pyroscope:
    replicaCount: 1

    resources:
      requests:
        cpu: 50m
        memory: 256Mi

    service:
      type: LoadBalancer
      annotations:
        metallb.io/loadBalancerIPs: 10.0.0.38
        netbird.io/expose: "true"
        netbird.io/groups: telemetry

    repository: grafana/pyroscope

    persistence:
      enabled: true
      size: 5Gi
      storageClassName: longhorn-no-backups

    structuredConfig:
      limits:
        compactor_blocks_retention_period: 7d
      storage:
        backend: s3
        s3:
          bucket_name: pyroscope
          endpoint: garage.plexmox.com
          region: garage
          insecure: false
          access_key_id: ${GARAGE_ACCESS_KEY}
          secret_access_key: ${GARAGE_SECRET_KEY}

    extraArgs:
      config.expand-env: true

    extraEnvVars:
      GARAGE_ACCESS_KEY:
        valueFrom:
          secretKeyRef:
            name: pyroscope-minio
            key: garage-access-key
      GARAGE_SECRET_KEY:
        valueFrom:
          secretKeyRef:
            name: pyroscope-minio
            key: garage-secret-key
