generic:
  nameOverride: transmission
  fullnameOverride: transmission

  replicaCount: 1

  image:
    repository: linuxserver/transmission
    pullPolicy: IfNotPresent
    tag: "4.0.6"

  service:
    port: 9091

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 9091
        matches:
          - path:
              type: PathPrefix
              value: /transmission
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: organizr-auth-public

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-organizr-auth-public@kubernetescrd,media-transmission@kubernetescrd
    hosts:
      - host: plexmox.com
        paths:
          - path: /transmission
            pathType: ImplementationSpecific
    tls:
      - secretName: plexmox-com-tls
        hosts:
          - plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 128Mi

  deploymentStrategy:
    type: Recreate

  probes:
    type: tcpSocket
    options:
      port: http

    initialDelaySeconds: 15
    timeoutSeconds: 10
    periodSeconds: 30
    failureThreshold: 3

  config:
    PUID: "1000"
    PGID: "1000"
    TZ: Europe/London

  volumes:
    - name: downloads
      hostPath:
        path: /plex/temp
    - name: watch
      hostPath:
        path: /plex/watch

  volumeMounts:
    - mountPath: /downloads
      name: downloads
    - mountPath: /watch
      name: watch

  vpn:
    enabled: true
    secret:
      key: transmission-tunnel
      mount:
        path: /config/wg_confs
