include:
  - project: "renovate-bot/renovate-runner"
    file: "/templates/renovate.gitlab-ci.yml"

stages:
  - lint
  - plan
  - deploy
  - renovate

image: ghcr.io/henrywhitaker3/containers/pipelines:latest

##############
# Kubernetes #
##############
diffs:
  stage: plan
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
  script:
    - ./scripts/pipeline_changes.sh

###########
# Ansible #
###########
.playbooks:
  variables:
    ANSIBLE_CONFIG: ./ansible.cfg
  parallel:
    matrix:
      - PLAYBOOK:
          - vpn
          - k3s
          - haproxy
          - adguard
          - minio
          - proxmox
  rules:
    - if: $SKIP_ANSIBLE == "true"
      when: never
    - if: $CI_COMMIT_BRANCH == "main" && $ANSIBLE_RUN_ALL == "true"
    - if: $CI_COMMIT_BRANCH == "main" && $SKIP_ANSIBLE != "true"
      changes:
        - ansible/playbooks/$PLAYBOOK/*
        - ansible/playbooks/$PLAYBOOK/**/*
        - ansible/inventory/*
        - ansible/inventory/**/*
        - ansible/roles/**/*
        - ansible/inventory
        - .gitlab-ci.yml
        - .ansible-lint

ansible lint:
  stage: lint
  extends: .playbooks
  script:
    - task ci:age:key AGE_KEY="$AGE_KEY"
    - task ci:lint PLAYBOOK=ansible/playbooks/$PLAYBOOK/main.yaml

ansible play:
  stage: deploy
  extends: .playbooks
  script:
    - eval $(ssh-agent -s)
    - task ci:playbook PLAYBOOK=ansible/playbooks/$PLAYBOOK/main.yaml AGE_KEY="$AGE_KEY" SSH_KEY="$SSH_KEY"
  environment:
    name: "$PLAYBOOK"

#############
# Terraform #
#############
.terraform:base:
  image: henrywhitaker3/pipeline
  before_script:
    - cd terraform/$TF_DIR
    - |
      terraform init \
          -backend-config="address=https://gitlab.com/api/v4/projects/45412263/terraform/state/$TF_STATE" \
          -backend-config="lock_address=https://gitlab.com/api/v4/projects/45412263/terraform/state/$TF_STATE/lock" \
          -backend-config="unlock_address=https://gitlab.com/api/v4/projects/45412263/terraform/state/$TF_STATE/lock" \
          -backend-config="username=henrywhitaker3" \
          -backend-config="password=$TERRAFORM_ACCESS_TOKEN" \
          -backend-config="lock_method=POST" \
          -backend-config="unlock_method=DELETE" \
          -backend-config="retry_wait_min=5"
  rules:
    - if: $SKIP_TERRAFORM == "true"
      when: never
    - if: $CI_COMMIT_BRANCH == "main" && $SKIP_TERRAFORM != "true"
      changes:
        - terraform/$TF_DIR/*
        - .gitlab-ci.yml
  parallel:
    matrix:
      - TF_STATE: tf-state
        TF_DIR: infra
      - TF_STATE: post
        TF_DIR: post
        TF_VAR_infra_state_url: https://gitlab.com/api/v4/projects/45412263/terraform/state/tf-state
        TF_VAR_infra_state_token: $TERRAFORM_ACCESS_TOKEN

tf validate:
  stage: lint
  extends:
    - .terraform:base
  script:
    - terraform validate
  rules:
    - !reference [.terraform:base, rules]
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - terraform/*

tf plan:
  stage: plan
  extends:
    - .terraform:base
  script:
    - terraform plan $(for file in *.tfvars; do echo "-var-file $file "; done) -out planfile
  artifacts:
    paths:
      - terraform/$TF_DIR/planfile
  rules:
    - !reference [.terraform:base, rules]

tf deploy:
  stage: deploy
  extends:
    - .terraform:base
  script:
    - terraform apply -auto-approve planfile
  dependencies:
    - tf plan
  environment:
    name: $TF_DIR
  # when: manual

############
# Renovate #
############

renovate:
  stage: renovate
  image: ghcr.io/renovatebot/renovate:40
  variables:
    RENOVATE_EXTRA_FLAGS: henrywhitaker3/homelab
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
    - if: '$CI_PIPELINE_SOURCE == "push"'
