[defaults]
INVENTORY = ./ansible/inventory
roles_path = ./ansible/roles:~/.ansible/roles
force_color = True
collections_path            = ~/.ansible/collections:./ansible/collections
vars_plugins_enabled        = host_group_vars,community.sops.sops

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=1200
