---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgres-operator.crunchydata.com/postgrescluster_v1beta1.json
apiVersion: postgres-operator.crunchydata.com/v1beta1
kind: PostgresCluster
metadata:
  name: crunchy
  labels:
    crunchy-users.henrywhitaker3.github.com/watch: "true"
  annotations:
    crunchy-users.henrywhitaker3.github.com/superuser: "postgres"
    crunchy-users.henrywhitaker3.github.com/extensions: |
      [
        {
          "database": "immich",
          "extension": "vector"
        },
        {
          "database": "immich",
          "extension": "earthdistance",
          "cascade": true
        }
      ]
  #   postgres-operator.crunchydata.com/pgbackrest-restore: "2024-05-19 11:21:00"
spec:
  postgresVersion: 17
  shutdown: false

  # dataSource:
  #   pgbackrest:
  #     stanza: db
  #     configuration:
  #       - secret:
  #           name: crunchy-postgres-secrets
  #     global:
  #       repo1-path: "/crunchy"
  #       repo1-s3-uri-style: path
  #     repo:
  #       name: repo1
  #       s3:
  #         bucket: "crunchy"
  #         endpoint: "https://18f48dd10c54918014c39a58f4133a1c.r2.cloudflarestorage.com"
  #         region: "auto"

  service:
    type: LoadBalancer
    metadata:
      annotations:
        metallb.io/loadBalancerIPs: 10.0.0.36

  proxy:
    pgBouncer:
      port: 5432
      replicas: 3
      config:
        global:
          pool_mode: transaction
          max_db_connections: "20"
          max_client_conn: "500"
      service:
        type: LoadBalancer
        metadata:
          annotations:
            metallb.io/loadBalancerIPs: 10.0.0.40
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 1
              podAffinityTerm:
                labelSelector:
                  matchLabels:
                    postgres-operator.crunchydata.com/cluster: crunchy
                    postgres-operator.crunchydata.com/role: pgbouncer
                topologyKey: kubernetes.io/hostname

  patroni:
    dynamicConfiguration:
      synchronous_mode: true
      postgresql:
        synchronous_commit: "on"
        parameters:
          max_connections: 150
          shared_preload_libraries: timescaledb
        pg_hba:
          - hostnossl all all 10.42.0.0/16 md5
          - hostssl all all all md5

  instances:
    - name: crunchy
      metadata:
        labels:
          app.kubernetes.io/name: crunchy
      replicas: 4 # Number of nodes in the cluster
      dataVolumeClaimSpec:
        storageClassName: openebs-hostpath
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 10Gi
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: "kubernetes.io/hostname"
          whenUnsatisfiable: "DoNotSchedule"
          labelSelector:
            matchLabels:
              postgres-operator.crunchydata.com/cluster: crunchy
              postgres-operator.crunchydata.com/data: postgres

  users:
    # Superuser
    - name: postgres
      databases:
        - postgres
      options: "SUPERUSER"
      password:
        type: AlphaNumeric

    # Applications
    - name: outline
      databases:
        - outline
      password:
        type: AlphaNumeric

    - name: kuma
      password:
        type: AlphaNumeric

    - name: sonarr
      databases:
        - sonarr-main
        - sonarr-log

    - name: radarr
      databases:
        - radarr-main
        - radarr-log

    - name: prowlarr
      databases:
        - prowlarr-main
        - prowlarr-log

    - name: harbor
      databases:
        - harbor

    - name: immich
      databases:
        - immich

    - name: yourbuild
      databases:
        - yourbuild

    - name: synthetigo
      databases:
        - synthetigo

    - name: thesuses
      databases:
        - thesuses

    # Benchmarking user
    # - name: bench
    #   databases:
    #     - bench
    #   password:
    #     type: AlphaNumeric

  monitoring:
    pgmonitor:
      exporter:
        # renovate: datasource=docker depName=registry.developers.crunchydata.com/crunchydata/crunchy-postgres-exporter
        image: registry.developers.crunchydata.com/crunchydata/crunchy-postgres-exporter:ubi8-5.7.3-0

  backups:
    pgbackrest:
      # restore:
      #   enabled: true
      #   repoName: repo1
      #   options:
      #     - --type=time
      #     - --target="2024-05-12 11:00:00"
      configuration:
        - secret:
            name: crunchy-postgres-secrets
      global:
        compress-type: "bz2"
        compress-level: "9"
        delta: "y"
        repo1-retention-full-type: "time"
        repo1-retention-full: "21"
        repo1-retention-diff: "21"
        repo1-path: "/crunchy"
        repo1-s3-uri-style: path
        repo1-bundle: "y"
      metadata:
        labels:
          app.kubernetes.io/name: crunchy-postgres-backup
      repos:
        - name: repo1
          s3:
            bucket: "crunchy"
            endpoint: "https://garage.plexmox.com"
            region: "garage"
          schedules:
            full: "0 1 * * 0" # Sunday at 01:00
            differential: "0 1 * * 1-6" # Mon-Sat at 01:00
            incremental: "0 2-23 * * *" # Every hour except 01:00
