traefik:
  # yaml-language-server: $schema=https://github.com/traefik/traefik-helm-chart/raw/refs/heads/master/traefik/values.schema.json

  image:
    repository: traefik
    tag: v3.6.7

  deployment:
    kind: DaemonSet

  logs:
    access:
      enabled: true

  metrics:
    prometheus:
      serviceMonitor:
        enabled: true

  ports:
    web:
      http:
        redirections:
          entryPoint:
            to: websecure
            shceme: https
      proxyProtocol: &proxyProtocol
        enabled: true
        trustedIPs:
          - 10.0.0.0/8
      forwardedHeaders: &forwardHeaders
        enabled: true
        trustedIPs:
          - 173.245.48.0/20
          - 103.21.244.0/22
          - 103.22.200.0/22
          - 103.31.4.0/22
          - 141.101.64.0/18
          - 108.162.192.0/18
          - 190.93.240.0/20
          - 188.114.96.0/20
          - 197.234.240.0/22
          - 198.41.128.0/17
          - 162.158.0.0/15
          - 104.16.0.0/12
          - 172.64.0.0/13
          - 131.0.72.0/22
          - 2400:cb00::/32
          - 2606:4700::/32
          - 2803:f800::/32
          - 2405:b500::/32
          - 2405:8100::/32
          - 2a06:98c0::/29
          - 2c0f:f248::/32
          - 10.0.0.0/8
          - 10.96.0.0/16

    websecure:
      proxyProtocol: *proxyProtocol
      forwardedHeaders: *forwardHeaders
      http:
        middlewares:
          - traefik-bouncer@kubernetescrd

  ingressRoute:
    dashboard:
      enabled: false
      labels:
        traefik-instance: public
      middlewares:
        - name: auth-public
      matchRule: Host(`traefik.plexmox.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
      tls:
        secretName: wildcard-plexmox-com-tls

  providers:
    kubernetesCRD:
      ingressClass: public
      labelSelector: traefik-instance=public
    kubernetesIngress:
      enabled: true
      ingressClass: public
    kubernetesGateway:
      enabled: true
      labelSelector: traefik-instance=public
      experimentalChannel: true

  experimental:
    plugins:
      themepark:
        moduleName: github.com/packruler/traefik-themepark
        # renovate: datasource=github-releases depName=packruler/traefik-themepark
        version: v1.4.2
      bouncer:
        moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
        # renovate: datasource=github-releases depName=maxlerebourg/crowdsec-bouncer-traefik-plugin
        version: v1.5.0

  volumes:
    - name: crowdsec-bouncer-tls
      mountPath: /etc/traefik/crowdsec-certs/
      type: secret

  ingressClass:
    isDefaultClass: false
    name: public

  gateway:
    enabled: false

  gatewayClass:
    name: public
    labels:
      traefik-instance: public

  additionalArguments:
    - --experimental.kubernetesingressnginx

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.29
      netbird.io/expose: "true"
      netbird.io/groups: "homelab,k3s"
