generic:
  nameOverride: uptime-kuma
  fullnameOverride: uptime-kuma

  replicaCount: 1

  image:
    repository: louislam/uptime-kuma
    pullPolicy: Always
    tag: latest

  service:
    portName: http
    port: 3001

  ingress:
    enabled: true
    className: internal
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-internal@kubernetescrd
    hosts:
      - host: kuma.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: kuma-plexmox-com-tls
        hosts:
          - kuma.plexmox.com

  pvc:
    enabled: true
    mountPath: /app/data
    storageClassName: longhorn
    size: 4Gi
    accessModes:
      - ReadWriteOnce

  config:
    PUID: "1000"
    PGID: "1000"

  deploymentStrategy:
    type: Recreate
