generic:
  nameOverride: uptime-kuma
  fullnameOverride: uptime-kuma

  replicaCount: 1

  image:
    repository: ghcr.io/louislam/uptime-kuma
    pullPolicy: IfNotPresent
    tag: 2.0.2

  service:
    portName: http
    port: 3001

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [kuma.plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 3001
        matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: auth-public

  pvc:
    enabled: true
    mountPath: /app/data
    storageClassName: longhorn
    size: 4Gi
    accessModes:
      - ReadWriteOnce

  config:
    PUID: "1000"
    PGID: "1000"
    UPTIME_KUMA_DB_TYPE: mariadb
    UPTIME_KUMA_DB_HOSTNAME: mariadb.mariadb.svc.cluster.local
    UPTIME_KUMA_DB_PORT: "3306"
    UPTIME_KUMA_DB_NAME: kuma
    UPTIME_KUMA_DB_USERNAME: kuma

  env:
    - name: UPTIME_KUMA_DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: uptime-kuma
          key: password

  deploymentStrategy:
    type: Recreate
