generic:
  nameOverride: radarr
  fullnameOverride: radarr

  replicaCount: 1

  image:
    repository: ghcr.io/home-operations/radarr
    pullPolicy: IfNotPresent
    tag: "6.0.4.10291"

  service:
    port: 7878

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 7878
        matches:
          - path:
              type: PathPrefix
              value: /radarr
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: organizr-auth-public
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: radarr

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-organizr-auth-public@kubernetescrd,media-radarr@kubernetescrd
    hosts:
      - host: plexmox.com
        paths:
          - path: /radarr
            pathType: ImplementationSpecific
    tls:
      - secretName: plexmox-com-tls
        hosts:
          - plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 4Gi

  deploymentStrategy:
    type: Recreate

  probes:
    initialDelaySeconds: 15

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

  config:
    RADARR__URL_BASE: radarr
    RADARR__POSTGRES_MAIN_DB: radarr-main
    RADARR__POSTGRES_LOG_DB: radarr-log
    RADARR__AUTHENTICATION_METHOD: External
    RADARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses

  env:
    - name: RADARR__POSTGRES_HOST
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-radarr
          key: host
    - name: RADARR__POSTGRES_USER
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-radarr
          key: user
    - name: RADARR__POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-radarr
          key: password

  volumes:
    - name: media
      hostPath:
        path: /plex

  volumeMounts:
    - mountPath: /data
      name: media
