generic:
  nameOverride: radarr
  fullnameOverride: radarr

  replicaCount: 1

  image:
    repository: ghcr.io/home-operations/radarr
    pullPolicy: IfNotPresent
    tag: "5.27.3.10153"

  service:
    port: 7878

  ingress:
    enabled: true
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/auth-url: https://plexmox.com/api/v2/auth?group=1
      nginx.ingress.kubernetes.io/auth-signin: https://plexmox.com
    hosts:
      - host: plexmox.com
        paths:
          - path: /radarr
            pathType: ImplementationSpecific
    tls:
      - secretName: plexmox-com-tls
        hosts:
          - plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 4Gi

  deploymentStrategy:
    type: Recreate

  probes:
    initialDelaySeconds: 15

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

  config:
    RADARR__URL_BASE: radarr
    RADARR__POSTGRES_MAIN_DB: radarr-main
    RADARR__POSTGRES_LOG_DB: radarr-log
    RADARR__AUTHENTICATION_METHOD: External
    RADARR__AUTHENTICATION_REQUIRED: DisabledForLocalAddresses

  env:
    - name: RADARR__POSTGRES_HOST
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-radarr
          key: host
    - name: RADARR__POSTGRES_USER
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-radarr
          key: user
    - name: RADARR__POSTGRES_PASSWORD
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-radarr
          key: password

  volumes:
    - name: media
      hostPath:
        path: /plex

  volumeMounts:
    - mountPath: /data
      name: media
