---
- name: Add apt signing keys
  become: true
  tags:
    - common
    - apt
  ansible.builtin.apt_key:
    url: https://azlux.fr/repo.gpg
    keyring: /usr/share/keyrings/azlux-archive-keyring.gpg

- name: Add repos
  become: true
  tags:
    - common
    - apt
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/usr/share/keyrings/azlux-archive-keyring.gpg] http://packages.azlux.fr/debian/ bullseye main
    state: present

- name: Install packages
  become: true
  tags:
    - common
    - apt
  ansible.builtin.apt:
    name: "{{ item }}"
    state: latest
  loop:
    - vim
    - bashtop
    - unzip

- name: Unattended upgrades
  ansible.builtin.import_tasks: unattended-upgrades.yaml
- name: Dotfiles
  ansible.builtin.import_tasks: dotfiles.yaml
  when: copy_dotfiles

- name: Workstation
  ansible.builtin.import_tasks: workstation.yaml
  when: installation_type == 'workstation'
