apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openebs

helmCharts:
  - name: openebs
    includeCRDs: true
    releaseName: openebs
    namespace: openebs
    version: "4.4.0"
    repo: https://openebs.github.io/openebs
    valuesFile: values.yaml
