localpv-provisioner:
  rbac:
    create: true
  localpv:
    hostpathClass:
      enabled: true
      name: openebs-hostpath
      isDefaultClass: false
      basePath: /var/openebs/local

openebs-crds:
  csi:
    volumeSnapshots:
      enabled: false
      keep: false

zfs-localpv:
  enabled: false

lvm-localpv:
  enabled: false

mayastor:
  enabled: false

engines:
  local:
    lvm:
      enabled: false
    zfs:
      enabled: false
  replicated:
    mayastor:
      enabled: false

loki:
  enabled: false

alloy:
  enabled: false
