---
promtail_become: true

promtail_install_dir: /opt/promtail

# renovate: datasource=github-releases depName=grafana/loki
promtail_version: v3.3.2

promtail_server_disable: true

promtail_server_http_port: 9101
promtail_server_grpc_port: 0

promtail_positions_filename: /tmp/promtail-positions.yaml

promtail_clients:
  - url: https://loki.plexmox.com/loki/api/v1/push
    external_labels:
      host: "{{ inventory_hostname }}"
  - url: https://victoria-logs.plexmox.com/insert/loki/api/v1/push?_stream_fields=instance,job,host,app
    external_labels:
      host: "{{ inventory_hostname }}"

promtail_default_scrape_configs:
  - job_name: messages
    static_configs:
      - targets:
          - localhost
        labels:
          job: system-messages
          host: "{{ inventory_hostname }}"
          __path__: /var/log/messages
  - job_name: journal
    journal:
      json: true
      max_age: 12h
      path: /var/log/journal
      labels:
        job: systemd-journal
        host: "{{ inventory_hostname }}"
    relabel_configs:
      - action: 'replace'
        source_labels: ['__journal__systemd_unit']
        regex: '(.*?)\.service'
        replacement: '$1'
        target_label: unit

promtail_additional_scrape_configs: []

go_arch_map:
  i386: '386'
  x86_64: 'amd64'
  aarch64: 'arm64'
  armv7l: 'armv7'
  armv6l: 'armv6'

go_arch: "{{ go_arch_map[ansible_architecture] | default(ansible_architecture) }}"
