apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases

patches:
  - path: patches/postgresclusters.yaml

helmCharts:
  - name: pgo
    includeCRDs: true
    releaseName: crunchy-postgres-operator
    namespace: databases
    version: "6.0.0"
    repo: oci://registry.developers.crunchydata.com/crunchydata
    valuesInline:
      features:
        OpenTelemetryLogs: true
        OpenTelemetryMetrics: true
