apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - secrets
  - scrapeconfigs
  - rules
  - alertmanager
  # - thanos

patches:
  - path: patches/prometheuses.yaml
  - path: patches/prometheusagents.yaml
  - path: patches/alertmanagers.yaml
  - path: patches/alertmanagerconfigs.yaml
  - path: patches/scrapeconfigs.yaml
  - path: patches/thanosrulers.yaml

helmCharts:
  - name: kube-prometheus-stack
    includeCRDs: true
    releaseName: kube-prometheus-stack
    version: "74.2.1"
    repo: https://prometheus-community.github.io/helm-charts
    valuesFile: values.yaml
