apiVersion: monitoring.coreos.com/v1alpha1
kind: ScrapeConfig
metadata:
  name: process-exporter
spec:
  staticConfigs:
    - targets:
        - "adguard-1.lab:9256"
        - "adguard-2.lab:9256"
        - "lb-1.lab:9256"
        - "lb-2.lab:9256"
        - "jump-k8s.netbird.lab:9256"
        - "netbird.netbird.lab:9256"
        - "k3s-control-1.lab:9256"
        - "k3s-control-2.lab:9256"
        - "k3s-control-3.lab:9256"
        - "k3s-dedi-1.lab:9256"
  metricsPath: /metrics
  relabelings:
    - targetLabel: job
      replacement: process_exporter
