---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/dragonflydb.io/dragonfly_v1alpha1.json
apiVersion: dragonflydb.io/v1alpha1
kind: Dragonfly
metadata:
  name: dragonfly
spec:
  # renovate: datasource=github-releases depName=dragonflydb/dragonfly repository=ghcr.io/dragonflydb/dragonfly
  image: ghcr.io/dragonflydb/dragonfly:v1.27.1
  replicas: 3
  env:
    - name: MAX_MEMORY
      valueFrom:
        resourceFieldRef:
          resource: limits.memory
          divisor: 1Mi
    - name: AWS_ACCESS_KEY_ID
      valueFrom:
        secretKeyRef:
          name: dragonfly-minio
          key: aws-access-key-id
    - name: AWS_SECRET_ACCESS_KEY
      valueFrom:
        secretKeyRef:
          name: dragonfly-minio
          key: aws-secret-access-key
    - name: AWS_DEFAULT_REGION
      value: unraid

  args:
    - --maxmemory=$(MAX_MEMORY)Mi
    - --proactor_threads=1
    - --cluster_mode=emulated
    - --lock_on_hashtags
    - --s3_endpoint=s3.plexmox.com
    - --default_lua_flags=allow-undeclared-keys

  resources:
    requests:
      cpu: 100m
    limits:
      memory: 256Mi

  topologySpreadConstraints:
    - maxSkew: 1
      topologyKey: "kubernetes.io/hostname"
      whenUnsatisfiable: "DoNotSchedule"
      labelSelector:
        matchLabels:
          app: dragonfly
          app.kubernetes.io/name: dragonfly

  serviceSpec:
    type: LoadBalancer
    annotations:
      metallb.universe.tf/loadBalancerIPs: 10.0.0.35

  snapshot:
    dir: "s3://dragonfly"
    cron: "0 * * * *"
