apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases

patches:
  - path: patches/mariadbs.yaml
  - path: patches/maxscales.yaml

helmCharts:
  - name: mariadb-operator
    includeCRDs: true
    releaseName: mariadb-operator
    namespace: databases
    version: "25.10.3"
    repo: https://helm.mariadb.com/mariadb-operator
    valuesFile: values.yaml
  - name: mariadb-operator-crds
    includeCRDs: true
    releaseName: mariadb-operator-crds
    namespace: databases
    version: "25.10.2"
    repo: https://helm.mariadb.com/mariadb-operator
