traefik:
  deployment:
    kind: DaemonSet

  ingressRoute:
    dashboard:
      enabled: true
      labels:
        traefik-instance: internal
      middlewares:
        - name: auth-internal
      matchRule: Host(`traefik-internal.plexmox.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
      tls:
        secretName: traefik-internal-plexmox-com-tls

  providers:
    kubernetesCRD:
      labelSelector: traefik-instance=internal

  ingressClass:
    isDefaultClass: true
    name: internal

  additionalArguments:
    - --experimental.kubernetesingressnginx=true
    - --providers.kubernetesingressnginx=true

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.27
