traefik:
  # yaml-language-server: $schema=https://github.com/traefik/traefik-helm-chart/raw/refs/heads/master/traefik/values.schema.json
  deployment:
    kind: DaemonSet

  ingressRoute:
    dashboard:
      enabled: true
      labels:
        traefik-instance: internal
      middlewares:
        - name: auth-internal
      matchRule: Host(`traefik-internal.plexmox.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
      tls:
        secretName: traefik-internal-plexmox-com-tls

  providers:
    kubernetesCRD:
      ingressClass: internal
      labelSelector: traefik-instance=internal
    kubernetesIngress:
      enabled: true
      ingressClass: internal
    kubernetesGateway:
      enabled: true
      labelSelector: traefik-instance=internal

  ingressClass:
    isDefaultClass: false
    name: internal

  gateway:
    name: internal
    listeners:
      web:
        port: 8000
        protocol: HTTP
      websecure:
        port: 8443
        protocol: HTTP

  gatewayClass:
    name: internal

  additionalArguments:
    - --experimental.kubernetesingressnginx

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.27
