traefik:
  deployment:
    kind: DaemonSet

  ingressRoute:
    dashboard:
      enabled: true
      labels:
        traefik-instance: internal
      middlewares:
        - name: auth-internal
      matchRule: Host(`traefik-internal.plexmox.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
      tls:
        secretName: traefik-internal-plexmox-com-tls

  providers:
    kubernetesCRD:
      ingressClass: internal
      labelSelector: traefik-instance=internal
    kubernetesIngress:
      enabled: true
      # Turn this on to get the rbac, but add filter so it doesn't match anything and duplicate
      # the ingress-nginx provider
      ingressClass: noop
      labelSelector: traefik-instance=noop

  ingressClass:
    isDefaultClass: false
    name: internal

  additionalArguments:
    - --experimental.kubernetesingressnginx
    - --providers.kubernetesingressnginx
    - --providers.kubernetesingressnginx.ingressclass=internal

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.27
