traefik:
  deployment:
    kind: DaemonSet

  ingressRoute:
    dashboard:
      create: true
      labels:
        traefik-instance: internal
      middlewares:
        - traefik-auth@kubernetescrd

  providers:
    kubernetesCRD:
      labelSelector:
        traefik-instance: internal

  ingressClass:
    isDefaultClass: true
    name: internal

  additionalArguments:
    - --experimental.kubernetesingressnginx=true
    - --providers.kubernetesingressnginx=true

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.27
