traefik:
  # yaml-language-server: $schema=https://github.com/traefik/traefik-helm-chart/raw/refs/heads/master/traefik/values.schema.json
  deployment:
    kind: DaemonSet

  ingressRoute:
    dashboard:
      enabled: true
      labels:
        traefik-instance: internal
      middlewares:
        - name: auth-internal
      matchRule: Host(`traefik-internal.plexmox.com`) && (PathPrefix(`/dashboard`) || PathPrefix(`/api`))
      entryPoints: ["websecure"]
      tls:
        secretName: wildcard-plexmox-com-tls

  providers:
    kubernetesCRD:
      ingressClass: internal
      labelSelector: traefik-instance=internal
    kubernetesIngress:
      enabled: true
      ingressClass: internal
    kubernetesGateway:
      enabled: true
      labelselector: traefik-instance=internal

  ingressClass:
    isDefaultClass: false
    name: internal

  gateway:
    name: internal
    labels:
      traefik-instance: internal
    listeners:
      web:
        port: 8000
        protocol: HTTP
      plexmox:
        port: 8443
        protocol: HTTPS
        hostname: "*.plexmox.com"
        mode: Terminate
        namespacePolicy:
          from: All
        certificateRefs:
          - name: wildcard-plexmox-com-tls
      henrywhitaker:
        port: 8443
        protocol: HTTPS
        hostname: "*.henrywhitaker.com"
        mode: Terminate
        certificateRefs:
          - name: wildcard-henrywhitaker-com-tls
      syntehtigo:
        port: 8443
        protocol: HTTPS
        hostname: "*.synthetigo.com"
        mode: Terminate
        certificateRefs:
          - name: wildcard-synthetigo-dev-tls
      yourbuild:
        port: 8443
        protocol: HTTPS
        hostname: "*.yourbuild.com"
        mode: Terminate
        certificateRefs:
          - name: wildcard-yourbuild-dev-tls

  gatewayClass:
    name: internal

  additionalArguments:
    - --experimental.kubernetesingressnginx

  service:
    annotations:
      metallb.io/loadBalancerIPs: 10.0.0.27
