apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: authelia

helmCharts:
  - name: authelia
    releaseName: authelia
    namespace: authelia
    version: "0.10.46"
    repo: https://charts.authelia.com
    valuesFile: values.yaml

resources:
  - database
  - secrets

patches:
  - path: patches/daemonset.yaml
