# yaml-language-server: $schema=https://raw.githubusercontent.com/authelia/chartrepo/refs/heads/master/charts/authelia/values.schema.json

pod:
  extraVolumeMounts:
    - mountPath: /custom
      name: custom
      readOnly: true

  extraVolumes:
    - name: custom
      secret:
        items:
          - key: users_database.yaml
            path: users_database.yaml
          - key: configuration.oidc.yaml
            path: configuration.oidc.yaml
        secretName: authelia-secrets

service:
  clusterIP: null

rbac:
  enabled: true

ingress:
  enabled: true

  className: nginx

  tls:
    enabled: true

  annotations:
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod

secret:
  existingSecret: "authelia-secrets"

configMap:
  authentication_backend:
    ldap:
      enabled: false
    file:
      password:
        algorithm: "argon2"
      enabled: true
      path: /custom/users_database.yaml

  telemetry:
    metrics:
      enabled: true

      serviceMonitor:
        enabled: true

  access_control:
    default_policy: deny
    rules:
      - domain: argocd.plexmox.com
        resources:
          - "^/api/webhook"
        policy: bypass
      - domain:
          - plexmox.com
          - "*.plexmox.com"
        policy: two_factor
      - domain:
          - henrywhitaker.com
          - "*.henrywhitaker.com"
        policy: two_factor

  session:
    cookies:
      - domain: plexmox.com
        subdomain: auth
        authelia_url: https://auth.plexmox.com
        default_redirection_url: https://plexmox.com

    redis:
      enabled: true
      host: dragonfly.dragonfly.svc
      database_index: 5

  storage:
    postgres:
      enabled: false

    mysql:
      enabled: true
      address: tcp://mariadb.mariadb.svc:3306
      username: authelia
      database: authelia

  notifier:
    filesystem:
      enabled: true

    smtp:
      enabled: false

  server:
    buffers:
      read: 8192
      write: 8192
