apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-rules
  labels:
    loki_rule: "true"
data:
  loki-metrics.yaml: |
    groups:
      - name: systemd
        interval: 30s
        rules:
          - record: systemd_logs_count
            expr: |
              sum by(unit, host) (count_over_time({service_name="systemd-journal"} | unit != `` [30s]))
      - name: traefik
        interval: 30s
        rules:
          - record: cs_traefik_blocked_requests
            expr: |
              sum_over_time(
                {app="traefik", instance=~"$service-traefik"} |= `Bouncer` | logfmt
                | drop filename, container, node_name, window_size, stream, detected_level, job
                | unwrap blocked_requests [$__auto]
              )
