adguard-1:
  sources:
    - ingress
    - service
    - gateway-httproute
  provider:
    name: webhook
    webhook:
      image:
        repository: ghcr.io/muhlba91/external-dns-provider-adguard
        tag: v11.0.2
      service:
        port: 8888
      livenessProbe:
        httpGet:
          path: /healthz
          port: 8080
        initialDelaySeconds: 10
        timeoutSeconds: 5
      readinessProbe:
        httpGet:
          path: /healthz
          port: 8080
        initialDelaySeconds: 10
        timeoutSeconds: 5
      env:
        - name: ADGUARD_URL
          value: 10.0.0.2
        - name: ADGUARD_USER
          value: henry
        - name: ADGUARD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: password
        - name: LOG_LEVEL
          value: debug
        - name: DRY_RUN
          value: "false"

adguard-2:
  sources:
    - ingress
    - service
    - gateway-httproute
  provider:
    name: webhook
    webhook:
      image:
        repository: ghcr.io/muhlba91/external-dns-provider-adguard
        tag: v11.0.2
      service:
        port: 8888
      livenessProbe:
        httpGet:
          path: /healthz
          port: 8080
        initialDelaySeconds: 10
        timeoutSeconds: 5
      readinessProbe:
        httpGet:
          path: /healthz
          port: 8080
        initialDelaySeconds: 10
        timeoutSeconds: 5
      env:
        - name: ADGUARD_URL
          value: 10.0.0.3
        - name: ADGUARD_USER
          value: henry
        - name: ADGUARD_PASSWORD
          valueFrom:
            secretKeyRef:
              name: adguard-creds
              key: password
        - name: LOG_LEVEL
          value: debug
        - name: DRY_RUN
          value: "false"
