apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring

resources:
  - secrets
  - dashboards
  - database

helmCharts:
  - name: grafana
    releaseName: grafana
    version: 8.11.2
    repo: https://grafana.github.io/helm-charts
    valuesFile: values.yaml
