---
namespaceOverride: monitoring

replicas: 2

admin:
  existingSecret: grafana-creds

env:
  GF_AUTH_GENERIC_OAUTH_API_URL: https://auth.plexmox.com/api/oidc/userinfo
  GF_AUTH_GENERIC_OAUTH_AUTH_URL: https://auth.plexmox.com/api/oidc/authorization
  GF_AUTH_GENERIC_OAUTH_CLIENT_ID: grafana
  GF_AUTH_GENERIC_OAUTH_TOKEN_URL: https://auth.plexmox.com/api/oidc/token
  GF_DATABASE_NAME: grafana
  GF_DATABASE_HOST: mariadb.mariadb.svc:3306
  GF_DATABASE_USER: grafana
  GF_DATABASE_SSL_MODE: disable
  GF_DATABASE_TYPE: mysql

envValueFrom:
  GF_DATABASE_PASSWORD:
    secretKeyRef:
      name: grafana-creds
      key: db_password
  GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET:
    secretKeyRef:
      name: grafana-creds
      key: client_secret

grafana.ini:
  server:
    root_url: https://grafana.plexmox.com
  feature_toggles:
    enable: metricsSummary tempoServiceGraph traceToMetrics
  auth:
    auto_login: true
  auth.basic:
    enabled: true
  auth.generic_oauth:
    enabled: true
    name: Authelia
    icon: signin
    scopes: openid profile email groups
    empty_scopes: false
    login_attribute_path: preferred_username
    groups_attribute_path: groups
    name_attribute_path: name
    use_pkce: true
  auth.generic_oauth.group_mapping:
    org_id: 1
    role_attribute_path: |
      contains(groups[*], 'admin') && 'Admin' || contains(groups[*], 'people') && 'Viewer'
  plugins:
    allow_loading_unsigned_plugins: "victoriametrics-datasource"

plugins:
  - https://github.com/VictoriaMetrics/victoriametrics-datasource/releases/download/v0.10.3/victoriametrics-datasource-v0.10.3.zip;victoriametrics-datasource

route:
  main:
    enabled: true
    labels:
      traefik-instance: internal
    hostnames: [grafana.plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: internal
        namespace: traefik
    filters:
      - type: ExtensionRef
        extensionRef:
          group: traefik.io
          kind: Middleware
          name: auth-internal

defaultDashboardsEditable: false

sidecar:
  dashboards:
    enabled: true
    annotations:
      grafana_folder: Kubernetes
    folderAnnotation: grafana_folder
    provider:
      foldersFromFilesStructure: true
  datasources:
    enabled: true

dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
      - name: default
        orgId: 1
        folder: Custom
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/default
      - name: postgres
        orgId: 1
        folder: Postgres
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/postgres
      - name: victoria
        orgId: 1
        folder: Victoria
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/victoria
      - name: mysql
        orgId: 1
        folder: Mysql
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/mysql
      - name: nats
        orgId: 1
        folder: NATS
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/nats
      - name: slos
        orgId: 1
        folder: SLOs
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/slos
      - name: istio
        orgId: 1
        folder: Istio
        type: file
        disableDeletion: true
        editable: false
        options:
          path: /var/lib/grafana/dashboards/istio

dashboards:
  default:
    ingressNginx:
      gnetId: 16677
      revision: 3
      datasource: Prometheus
    haproxy:
      gnetId: 12693
      revision: 7
      datasource: Prometheus
    traefik:
      gnetId: 17346
      revision: 9
      datasource: Prometheus
    node_exporter:
      gnetId: 1860
      revision: 33
      datasource: Prometheus
    argocd:
      gnetId: 14584
      revision: 1
      datasource: Prometheus
    cert-manager:
      gnetId: 11001
      revision: 1
      datasource: Prometheus
    mysql-overview:
      gnetId: 14057
      revision: 1
      datasource: Prometheus
    golang:
      gnetId: 14061
      revision: 1
      datasource: Prometheus
    redis:
      gnetId: 14091
      revision: 1
      datasource: Prometheus
    alertmanager:
      gnetId: 9578
      revision: 4
      datasource: Prometheus
    process:
      gnetId: 249
      revision: 2
      datasource: Prometheus
    adguard:
      gnetId: 20799
      revision: 8
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    plex:
      url: https://raw.githubusercontent.com/jsclayton/prometheus-plex-exporter/refs/heads/main/examples/dashboards/Media%20Server.json
      datasource: Prometheus
    # keepalived:
    #   url: https://raw.githubusercontent.com/mehdy/keepalived-exporter/refs/heads/master/grafana/dashboards/keepalived-exporter.json
    #   datasource:
    #     - { name: DS_PROMETHEUS, value: Prometheus }
    smarctl:
      url: https://raw.githubusercontent.com/blesswinsamuel/grafana-dashboards/refs/heads/main/dashboards/dist/dashboards/smartctl.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    dragonfly:
      url: https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/main/monitoring/grafana-dashboard.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    garage:
      url: https://git.deuxfleurs.fr/Deuxfleurs/garage/raw/branch/main-v1/script/telemetry/grafana-garage-dashboard-prometheus.json
      datasource:
        - { name: DS_DS_PROMETHEUS, value: Prometheus }

  slos:
    detail:
      gnetId: 14348
      revision: 5
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    highLevel:
      gnetId: 14643
      revision: 2
      datasource: Prometheus

  istio:
    mesh:
      gnetId: 7639
      revision: 278
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    service:
      gnetId: 7636
      revision: 278
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    workload:
      gnetId: 7630
      revision: 278
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    performance:
      gnetId: 11829
      revision: 278
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    control:
      gnetId: 7645
      revision: 278
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }

  mysql:
    galera:
      gnetId: 13106
      revision: 3
      datasource: Prometheus
    overview:
      gnetId: 7362
      revision: 5
      datasource: Prometheus

  postgres:
    pgbackrest:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/pgbackrest.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    podDetails:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/pod_details.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    postgresDetails:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/postgresql_details.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    postgresOverview:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/postgresql_overview.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    postgresServiceHealth:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/postgresql_service_health.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    queryStats:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/query_statistics.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }
    pgbouncer:
      url: https://raw.githubusercontent.com/henrywhitaker3/grafana-dashboards/refs/heads/main/crunchy/pgbouncer_direct.json
      datasource:
        - { name: DS_PROMETHEUS, value: Prometheus }

  victoria:
    victoria-single:
      gnetId: 10229
      revision: 37
      datasource: Victoria
    victoria-agent:
      gnetId: 12683
      revision: 21
      datasource: Victoria

  nats:
    server:
      gnetId: 2279
      revision: 1
      datasource: Prometheus
    jetstream:
      gnetId: 14725
      revision: 2
      datasource:
        - { name: DS__NATS-PROMETHEUS, value: Prometheus }

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        orgId: 1
        access: proxy
        url: http://vmsingle-metrics.monitoring.svc:8429
        jsonData:
          prometheusType: Prometheus
          timeInterval: 1m
        isDefault: true
      - name: VictoriaMetrics
        type: victoriametrics-datasource
        access: proxy
        url: http://vmsingle-metrics.monitoring.svc:8428
      - name: Loki
        ordId: 1
        access: proxy
        type: loki
        url: http://loki-gateway
        jsonData:
          maxLines: 250
          derivedFields:
            - name: TraceID
              datasourceUid: Tempo
              matcherRegex: 'traceID|trace_id":"(\w+)'
              url: "$${__value.raw}"
              urlDisplayLabel: "View Trace"
      - name: Tempo
        orgId: 1
        access: proxy
        type: tempo
        url: http://tempo.monitoring.svc:3200
        jsonData:
          serviceMap:
            datasourceUid: Prometheus
          tracesToLogsV2:
            datasourceUid: Loki
            tags: [{ key: "host.name", value: "pod" }]
            spanStartTimeShift: "-15m"
            filterByTraceID: true
          tracesToMetrics:
            datasourceUid: Prometheus
            spanStartTimeShift: "-15m"
            tags: [{ key: "host.name", value: "pod" }]
            queries:
              - name: CPU Usage
                query: sum(node_namespace_pod_container:container_cpu_usage_seconds_total:sum_irate{$$__tags})
              - name: Memory Usage
                query: sum (container_memory_usage_bytes{$$__tags})
              - name: Network Receive
                query: sum(irate(container_network_receive_bytes_total{$$__tags}[1m]))
              - name: Network Transmit
                query: sum(irate(container_network_transmit_bytes_total{$$__tags}[1m]))
          tracesToProfiles:
            datasourceUid: Pyroscope
            tags:
              - { key: "service.name", value: "service_name" }
              - { key: "host.name", value: "pod" }
            profileTypeId: process_cpu:cpu:nanoseconds:cpu:nanoseconds
      - name: Pyroscope
        orgId: 1
        access: proxy
        type: grafana-pyroscope-datasource
        url: http://pyroscope.monitoring.svc:4040
