apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: vpn-gateway
  namespace: argo
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: vpn-gateway
    server: https://kubernetes.default.svc
  project: cluster
  source:
    path: kubernetes/k3s/apps/networking/organizr/chart
    repoURL: https://gitlab.com/henrywhitaker3/homelab.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
