---
- name: Configure jump server

  hosts: jump

  roles:
    - hosts
    - user
    - common
    - crog
    - node_exporter
    - process_exporter
    - haproxy
    - alloy

  handlers:
    - name: restart wireguard
      tags:
        - vpn
        - wireguard
      become: true
      ansible.builtin.service:
        name: wg-quick@wg0.service
        state: restarted

  tasks:
    - name: Install wireguard
      tags:
        - vpn
        - wireguard
      become: true
      ansible.builtin.apt:
        name: wireguard
        state: latest

    - name: Enable non local IP binding
      tags:
        - vpn
        - wireguard
      become: true
      ansible.posix.sysctl:
        name: "{{ item }}"
        value: "1"
        state: present
        reload: true
      loop:
        - net.ipv6.conf.all.forwarding
        - net.ipv4.ip_forward

    - name: Copy over vpn config
      tags:
        - vpn
        - wireguard
      become: true
      ansible.builtin.template:
        src: templates/server.conf
        dest: /etc/wireguard/wg0.conf
        owner: root
        group: root
        mode: "0700"
      notify: restart wireguard

    - name: Start wireguard service
      tags:
        - vpn
        - wireguard
      become: true
      ansible.builtin.service:
        name: wg-quick@wg0.service
        state: started
        enabled: true
