---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/referencegrant_v1beta1.json
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: authelia
  namespace: authelia
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: gateways
  to:
    - group: ""
      kind: Service
      name: authelia
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/referencegrant_v1beta1.json
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: organizr
  namespace: media
spec:
  from:
    - group: gateway.networking.k8s.io
      kind: Gateway
      namespace: gateways
  to:
    - group: ""
      kind: Service
      name: organizr
{{- range .Values.middlewares.authelia.namespaces }}
---
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayPolicy
metadata:
  name: authelia
  namespace: "{{ . }}"
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      matchLabels:
        auth: authelia
  traffic:
    extAuth:
      backendRef:
        name: authelia
        namespace: authelia
        port: 80
      http:
        path: "'/api/authz/forward-auth'"
        redirect: has(response.headers.location) && response.headers.location
        addRequestHeaders:
          X-Forwarded-Method: request.method
          X-Forwarded-Proto: request.scheme
          X-Forwarded-Host: request.host
          X-Forwarded-URI: request.path
          X-Forwarded-For: source.address
        allowedRequestHeaders:
          - "accept"
          - "cookie"
          - "authorization"
          - "proxy-authorization"
        allowedResponseHeaders:
          - "location"
          - "Remote-User"
          - "Remote-Groups"
          - "Remote-Email"
          - "Remote-Name"
{{- end }}
{{- range .Values.middlewares.organizr.namespaces }}
---
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayPolicy
metadata:
  name: organizr
  namespace: "{{ . }}"
spec:
  targetSelectors:
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      matchLabels:
        auth: organizr
  traffic:
    extAuth:
      backendRef:
        name: organizr
        namespace: media
        port: 80
      http:
        path: "'/api/v2/auth?group=1'"
        redirect: "'https://plexmox.com'"
{{- end }}
---
# yaml-language-server: $schema=https://github.com/datreeio/CRDs-catalog/raw/refs/heads/main/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: booklore-agentgateway
  namespace: media
  labels:
    auth: authelia
spec:
  hostnames:
    - books.plexmox.com
  rules:
    - backendRefs:
        - kind: Service
          name: booklore
          port: 9568
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: internal
      namespace: gateways
