---
apiVersion: agentgateway.dev/v1alpha1
kind: AgentgatewayParameters
metadata:
  name: gateway
spec:
  logging:
    format: json
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      memory: 512Mi
  deployment:
    spec:
      template:
        spec:
          topologySpreadConstraints:
            - labelSelector:
                matchLabels:
                  gateway.networking.k8s.io/gateway-name: internal
              maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
  podDisruptionBudget:
    spec:
      minAvailable: 1
  horizontalPodAutoscaler:
    spec:
      minReplicas: 1
      maxReplicas: 6
      metrics:
        - type: Resource
          resource:
            name: cpu
            target:
              type: Utilization
              averageUtilization: 75
