apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: harbor

resources:
  - secrets

helmCharts:
  - name: harbor
    releaseName: harbor
    namespace: harbor
    version: "1.18.2"
    repo: https://helm.goharbor.io
    valuesFile: values.yaml
