expose:
  type: route
  route:
    labels:
      traefik-instance: internal
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: internal
        namespace: traefik
    hosts: [harbor.plexmox.com]

externalURL: https://harbor.plexmox.com

persistence:
  enabled: true
  persistentVolumeClaim:
    registry:
      storageClass: longhorn-no-backups
      size: 100Gi
    jobservice:
      jobLog:
        storageClass: longhorn-no-backups
        size: 1Gi
    redis:
      storageClass: longhorn-no-backups
      size: 1Gi
    trivy:
      storageClass: longhorn-no-backups
      size: 15Gi

updateStrategy:
  type: Recreate

existingSecretAdminPassword: harbor-secrets
existingSecretAdminPasswordKey: admin-password
existingSecretSecretKey: harbor-secrets

database:
  type: external
  external:
    host: crunchy-primary.crunchy.svc
    username: harbor
    existingSecret: crunchy-pguser-harbor
    coreDatabase: harbor
    sslmode: require

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

trivy:
  resources:
    requests:
      cpu: 250m
    limits:
      cpu: null
