---
crowdsec:
  container_runtime: containerd
  tls:
    enabled: true
  agent:
    metrics:
      serviceMonitor:
        enabled: true
    acquisition:
      - namespace: traefik
        podName: traefik-public-*
        program: traefik
    env:
      - name: PARSERS
        value: "crowdsecurity/cri-logs"
      - name: COLLECTIONS
        value: "crowdsecurity/traefik"
      - name: DISABLE_PARSERS
        value: "crowdsecurity/whitelists"
    persistentVolume:
      config:
        enabled: false

  lapi:
    replicas: 1
    dashboard:
      enabled: false
      ingress:
        enabled: false
    metrics:
      serviceMonitor:
        enabled: true
    env:
      - name: ENROLL_KEY
        valueFrom:
          secretKeyRef:
            name: crowdsec-secrets
            key: enroll-key
      - name: ENROLL_INSTANCE_NAME
        value: "k3s"
