---
crowdsec:
  container_runtime: containerd
  tls:
    enabled: true
  agent:
    resources:
      requests:
        cpu: 150m
        memory: 250Mi
      limits: null
    metrics:
      serviceMonitor:
        enabled: true
    acquisition:
      - namespace: traefik
        podName: traefik-public-*
        program: traefik
      - namespace: authelia
        podName: authelia-*
        program: authelia
    env:
      - name: PARSERS
        value: "crowdsecurity/cri-logs"
      - name: COLLECTIONS
        value: "crowdsecurity/traefik LePresidente/authelia"
      - name: DISABLE_PARSERS
        value: "crowdsecurity/whitelists"
    persistentVolume:
      config:
        enabled: false

  lapi:
    replicas: 3
    strategy:
      type: RollingUpdate
    resources:
      requests:
        cpu: 150m
        memory: 250Mi
      limits: null
    storeCAPICredentialsInSecret: true
    persistentVolume:
      config:
        enabled: false
      data:
        enabled: false
    dashboard:
      enabled: true
      ingress:
        enabled: false
    metrics:
      serviceMonitor:
        enabled: true
    env:
      # - name: DISABLE_ONLINE_API
      #   value: "true"
      - name: ENROLL_KEY
        valueFrom:
          secretKeyRef:
            name: crowdsec-secrets
            key: enroll-key
      - name: ENROLL_INSTANCE_NAME
        value: "k3s"
      - name: DB_PASSWORD
        valueFrom:
          secretKeyRef:
            name: crowdsec-db-secrets
            key: password

  secrets:
    externalSecret:
      name: crowdsec-secrets
      csLapiSecretKey: cs-lapi-secret
      registrationTokenKey: registration-token

  # config:
  #   config.yaml.local: |
  #     db_config:
  #       type: postgresql
  #       user: crowdsec
  #       password: ${DB_PASSWORD}
  #       db_name: crowdsec
  #       host: "crunchy-pgbouncer.crunchy.svc"
  #       port: 5432
  #     api:
  #       server:
  #         auto_registration:
  #           enabled: true
  #           token: "${REGISTRATION_TOKEN}"
  #           allowed_ranges:
  #             - "10.0.0.0/8"
