services:
  minio:
    container_name: minio
    image: minio/minio:RELEASE.2025-07-23T15-54-02Z
    restart: unless-stopped
    hostname: "{{ inventory_hostname }}"
    command: server --console-address ":9001" http://minio-{1...2}.lab:9000/data
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - ./minio:/data
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_PROMETHEUS_AUTH_TYPE=${MINIO_PROMETHEUS_AUTH_TYPE}
      - MINIO_SERVER_URL=${MINIO_SERVER_URL}
      - MINIO_BROWSER_REDIRECT_URL=${MINIO_BROWSER_REDIRECT_URL}
    extra_hosts:
      - s3.plexmox.com:10.0.0.27
      - minio.plexmox.com:10.0.0.27
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:9000/minio/health/live"]
      interval: 1m30s
      timeout: 20s
      retries: 3
      start_period: 3m
