generic:
  nameOverride: speedtest
  fullnameOverride: speedtest

  replicaCount: 1

  image:
    repository: henrywhitaker3/speedtest-tracker
    pullPolicy: Always
    tag: dev

  service:
    port: 80

  ingress:
    enabled: true
    className: internal
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-internal@kubernetescrd
    hosts:
      - host: speedtest.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: speedtest-plexmox-com-tls
        hosts:
          - speedtest.plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 2Gi

  deploymentStrategy:
    type: Recreate

  probes:
    initialDelaySeconds: 60

  config:
    TZ: Europe/London
    PUID: "1000"
    PGID: "1000"
    OOKLA_EULA_GDPR: "true"
