generic:
  nameOverride: proxmox-exporter
  fullnameOverride: proxmox-exporter

  replicaCount: 1

  image:
    repository: prompve/prometheus-pve-exporter
    pullPolicy: Always
    tag: 3.7.0

  service:
    port: 9221

  probes:
    enabled: false

  secrets:
    enabled: true
    key: pve-exporter-config

  volumes:
    - name: pve-config
      secret:
        secretName: proxmox-exporter
        items:
          - key: pve.yaml
            path: pve.yml

  volumeMounts:
    - mountPath: /etc/prometheus
      name: pve-config
      readOnly: true
