---
- name: Configure minio server

  hosts: minio

  pre_tasks:
    - name: Update package cache
      become: true
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
      changed_when: false

  roles:
    - hosts
    - qemu
    - common
    - user
    - node_exporter
    - process_exporter
    - docker
    - docker_compose
    - alloy
    - netbird
