generic:
  nameOverride: garage-webui
  fullnameOverride: garage-webui

  replicaCount: 1

  image:
    repository: khairul169/garage-webui
    pullPolicy: IfNotPresent
    tag: "1.1.0"

  service:
    port: 3909

  httpRoute:
    enabled: true
    labels:
      traefik-instance: internal
    hostnames: [garage-webui.plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: internal
        namespace: traefik
    rules:
      - port: 3909
        matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: auth-internal

  env:
    - name: API_BASE_URL
      # TODO: update to use https when container supports it
      value: http://10.0.0.9:3903
    - name: S3_ENDPOINT_URL
      value: http://10.0.0.9:3900
    - name: S3_REGION
      value: garage
    - name: API_ADMIN_KEY
      valueFrom:
        secretKeyRef:
          name: garage-secrets
          key: admin-token
