generic:
  nameOverride: garage-webui
  fullnameOverride: garage-webui

  replicaCount: 1

  image:
    repository: khairul169/garage-webui
    pullPolicy: IfNotPresent
    tag: "1.1.0"

  service:
    port: 3909

  ingress:
    enabled: true
    className: internal
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-internal@kubernetescrd
    hosts:
      - host: garage-webui.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: garage-webui-plexmox-com-tls
        hosts:
          - garage-webui.plexmox.com

  env:
    - name: API_BASE_URL
      # TODO: update to use https when container supports it
      value: http://10.0.0.9:3903
    - name: S3_ENDPOINT_URL
      value: http://10.0.0.9:3900
    - name: S3_REGION
      value: garage
    - name: API_ADMIN_KEY
      valueFrom:
        secretKeyRef:
          name: garage-secrets
          key: admin-token
