---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: shipper-mariadb-s3
  labels:
    app.kubernetes.io/name: shipper
    app.kubernetes.io/instance: mariadb
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        s3.conf: |
          [minio]
          type = s3
          provider = Other
          access_key_id = {{ index . "minio-access-key-id" }}
          secret_access_key = {{ index . "minio-secret-access-key" }}
          endpoint = https://s3.plexmox.com
          region = unraid

          [r2]
          type = s3
          provider = Cloudflare
          access_key_id = {{ index . "r2-access-key-id" }}
          secret_access_key = {{ index . "r2-secret-access-key" }}
          endpoint = https://18f48dd10c54918014c39a58f4133a1c.r2.cloudflarestorage.com
          acl = private

          [r2-crypt]
          type = crypt
          remote = r2:/mariadb/
          filename_encryption = standard
          directory_name_encryption = true
          password = {{ index . "encryption-password-1" }}
          password2 = {{ index . "encryption-password-2" }}
  dataFrom:
    - extract:
        key: mariadb-r2
