{{ ansible_managed | comment }}

[Unit]
Description=Promtail
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart={{ promtail_install_dir }}/promtail -config.file /etc/promtail.yaml
SyslogIdentifier=promtail
Restart=always
RestartSec=1
StartLimitInterval=0
ProtectSystem=full

[Install]
WantedBy=multi-user.target
