tempo:
  replicas: 1

  service:
    annotations:
      netbird.io/expose: "true"
      netbird.io/groups: telemetry

  tempo:
    retention: 6h

    resources:
      requests:
        cpu: 500m
        memory: 512Mi
      limits:
        memory: 512Mi

    storage:
      trace:
        local:
          path: /tmp/tempo/traces
        wal:
          path: /tmp/tempo/wal
        backend: s3
        s3:
          bucket: tempo
          endpoint: garage.plexmox.com
          region: garage
          insecure: false
          access_key: ${GARAGE_ACCESS_KEY}
          secret_key: ${GARAGE_SECRET_KEY}
          forcepathstyle: true

    metricsGenerator:
      enabled: true
      remoteWriteUrls:
        - http://vmagent-metrics.monitoring.svc:8429/api/v1/write

    global_overrides:
      max_traces_per_user: 0

    extraArgs:
      config.expand-env: true
    extraEnv:
      - name: GARAGE_ACCESS_KEY
        valueFrom:
          secretKeyRef:
            name: tempo-minio
            key: garage-access-key
      - name: GARAGE_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: tempo-minio
            key: garage-secret-key

  config: |
    multitenancy_enabled: {{ .Values.tempo.multitenancyEnabled }}
    usage_report:
      reporting_enabled: {{ .Values.tempo.reportingEnabled }}
    compactor:
      compaction:
        block_retention: {{ .Values.tempo.retention }}
    distributor:
      receivers:
        {{- toYaml .Values.tempo.receivers | nindent 8 }}
    ingester:
      {{- toYaml .Values.tempo.ingester | nindent 6 }}
    server:
      {{- toYaml .Values.tempo.server | nindent 6 }}
    storage:
      {{- toYaml .Values.tempo.storage | nindent 6 }}
    querier:
      {{- toYaml .Values.tempo.querier | nindent 6 }}
    query_frontend:
      {{- toYaml .Values.tempo.queryFrontend | nindent 6 }}
    overrides:
      {{- toYaml .Values.tempo.global_overrides | nindent 6 }}
      {{- if .Values.tempo.metricsGenerator.enabled }}
          metrics_generator_processors:
          - 'service-graphs'
          - 'span-metrics'
          - 'local-blocks'
    metrics_generator:
          storage:
            path: "/tmp/tempo/generator/wal"
            remote_write:
            {{- range $url := .Values.tempo.metricsGenerator.remoteWriteUrls }}
              - url: {{ . }}
            {{- end }}
          traces_storage:
            path: /tmp/tempo/generator/traces
      {{- end }}
