---
- name: Configure spotify connect speakers

  hosts: speakers

  roles:
    - hosts
    - common
    - user
    - node_exporter
    - alloy

  handlers:
    - name: restart raspotify
      tags:
        - spotify
      become: true
      ansible.builtin.service:
        name: raspotify
        state: restarted

  tasks:
    - name: Add raspotify signing key
      tags:
        - apt
        - spotify
      become: true
      ansible.builtin.get_url:
        url: https://dtcooper.github.io/raspotify/key.asc
        dest: /usr/share/keyrings/raspotify_key.asc
        mode: "0644"

    - name: Add raspotify repo
      tags:
        - apt
        - spotify
      become: true
      ansible.builtin.apt_repository:
        repo: deb [signed-by=/usr/share/keyrings/raspotify_key.asc] https://dtcooper.github.io/raspotify raspotify main
        state: present

    - name: Install raspotify
      tags:
        - apt
        - spotify
      become: true
      ansible.builtin.apt:
        name:
          - libc6
          - libasound2
          - alsa-utils
          - libpulse0
          - raspotify
          - libasound2-plugins
          - asound-conf-wizard
        state: latest

    - name: Copy raspotify config
      tags:
        - spotify
      become: true
      ansible.builtin.template:
        src: templates/raspotify.conf
        dest: /etc/raspotify/conf
        owner: root
        group: root
        mode: "0600"
      notify: restart raspotify

    - name: Start raspotify service
      tags:
        - spotify
      become: true
      ansible.builtin.service:
        name: raspotify
        state: started
        enabled: true
