---
# renovate: datasource=github-releases depName=k3s-io/k3s
k3s_version: v1.31.4+k3s1

k3s_server_args: ""

k3s_agent_args: ""

k3s_kubelet_args:
  - "node-status-update-frequency=5s"

k3s_kube_apiserver_args:
  - "anonymous-auth=true"

k3s_server_url: "https://10.0.0.7:6443"

k3s_tls_san:
  - k8s.lan
  - "10.0.0.7"

k3s_disable:
  - servicelb
  - traefik
  - local-storage
  - metrics-server
  - coredns

k3s_expose_etcd_metrics: true

# k3s_disable_kube_proxy: true

k3s_flannel_backend: "vxlan"

# k3s_disable_network_policy: true

k3s_registry_enabled: true

cifs_mounts:
  - src: //10.0.0.9/plex
    path: /plex

vpn_route_via: "10.0.0.13"

vpn_route_routes:
  - to: 10.8.0.1
    via: 10.0.0.13

crog_verbose: true
crog_actions:
  - name: Heartbeat
    command: ping -W 1 -c 1 10.0.0.1
    cron: "* * * * *"
    tries: 3
    when:
      start: "{{ healthcheck }}/start"
      success: "{{ healthcheck }}"
