---
# yaml-language-server $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/operator.victoriametrics.com/vmalert_v1beta1.json
apiVersion: operator.victoriametrics.com/v1beta1
kind: VMAlert
metadata:
  name: metrics
spec:
  image:
    repository: victoriametrics/vmalert
    tag: v1.106.0
  datasource:
    url: http://vmsingle-metrics.monitoring.svc:8429
  evaluationInterval: 1m
  externalLabels:
    cluster: k3s
  extraArgs:
    external.url: https://victoria.plexmox.com
  notifiers:
    - url: http://alertmanager-operated.monitoring.svc:9093
  remoteRead:
    url: http://vmsingle-metrics.monitoring.svc:8429
  remoteWrite:
    url: http://vmagent-metrics.monitoring.svc:8429
  replicaCount: 2
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
  selectAllByDefault: true
