---
- name: Patch generic ubuntu server

  hosts:
    - jump
    - adguard
    - netbird

  serial: 1

  tasks:
    - name: Apt upgrade
      become: true
      ansible.builtin.apt:
        update_cache: true
        upgrade: true

    - name: Check if reboot required
      ansible.builtin.stat:
        path: /var/run/reboot-required
      register: reboot_required

    - name: Reboot server
      become: true
      ansible.builtin.reboot:
      when: reboot_required.stat.exists
