token: "{{ k3s_token }}"

{% if k3s_tls_san is defined and k3s_tls_san %}
tls-san:
{% for san in k3s_tls_san %}
  - {{ san }}
{% endfor %}
{% endif %}

{% if k3s_disable is defined and k3s_disable %}
disable:
{% for option in k3s_disable %}
  - {{ option }}
{% endfor %}
{% endif %}

etcd-expose-metrics: {{ k3s_expose_etcd_metrics }}

{% if k3s_kubelet_args is defined and k3s_kubelet_args %}
kubelet-arg:
{% for arg in k3s_kubelet_args %}
  - {{ arg }}
{% endfor %}
{% endif %}

{% if k3s_kube_apiserver_args is defined and k3s_kube_apiserver_args %}
kube-apiserver-arg:
{% for arg in k3s_kube_apiserver_args %}
  - {{ arg }}
{% endfor %}
{% endif %}

{% if k3s_kube_scheduler_args is defined and k3s_kube_scheduler_args %}
kube-scheduler-arg:
{% for arg in k3s_kube_scheduler_args %}
  - {{ arg }}
{% endfor %}
{% endif %}

{% if k3s_kube_controller_manager_args is defined and k3s_kube_controller_manager_args %}
kube-controller-manager-arg:
{% for arg in k3s_kube_controller_manager_args %}
  - {{ arg }}
{% endfor %}
{% endif %}

flannel-backend: "{{ k3s_flannel_backend }}"

disable-kube-proxy: {{ k3s_disable_kube_proxy }}
disable-network-policy: {{ k3s_disable_network_policy }}

cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"

write-kubeconfig-mode: "{{ k3s_write_kubeconfig_mode }}"

{% if k3s_taints is defined and k3s_taints %}
node-taint:
{% for taint in k3s_taints %}
  - {{ taint }}
{% endfor %}
{% endif %}
