token: "{{ k3s_token }}"

server: "{{ k3s_server_url }}"

{% if k3s_kubelet_args is defined and k3s_kubelet_args %}
kubelet-arg:
{% for arg in k3s_kubelet_args %}
  - {{ arg }}
{% endfor %}
{% endif %}

{% if k3s_taints is defined and k3s_taints %}
node-taint:
{% for taint in k3s_taints %}
  - {{ taint }}
{% endfor %}
{% endif %}
