apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: databases
resources:
  # renovate: datasource=github-releases depName=dragonflydb/dragonfly-operator
  - https://raw.githubusercontent.com/dragonflydb/dragonfly-operator/v1.2.0/manifests/crd.yaml
  - rbac.yaml

helmCharts:
  - name: generic
    releaseName: dragonfly-operator
    namespace: databases
    version: "v1.3.18"
    repo: oci://ghcr.io/henrywhitaker3
    valuesFile: values.yaml
