global:
  resolve_timeout: 5m
route:
  receiver: "null"
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h

  group_by:
    - alertname

  routes:
    - receiver: grafana_cloud
      matchers:
        - severity="critical"
      continue: true
    - receiver: grafana_cloud
      matchers:
        - severity="warning"
      continue: true

    - receiver: heartbeat
      matchers:
        - alertname=~"Watchdog"
      group_wait: 0s
      group_interval: 1s
      repeat_interval: 1m
      continue: true
    # - receiver: cronitor
    #   matchers:
    #     - alertname=~"Watchdog"
    #   group_wait: 0s
    #   group_interval: 1s
    #   repeat_interval: 1m
    #   continue: true

    - receiver: discord_no_resolve
      matchers:
        - severity="critical"
        - autoresolve="false"
    - receiver: discord
      matchers:
        - severity="critical"

    - receiver: discord_warn
      matchers:
        - severity="warning"

inhibit_rules:
  - source_matchers:
      - severity="critical"
    target_matchers:
      - severity=~"warning|info"
    equal:
      - namespace
      - alertname
  - source_matchers:
      - severity="warning"
    target_matchers:
      - severity="info"
    equal:
      - namespace
      - alertname
  - source_matchers:
      - alertname="InfoInhibitor"
    target_matchers:
      - severity="info"
    equal:
      - namespace
  - target_matchers:
      - alertname="InfoInhibitor"

receivers:
  - name: "null"
  - name: heartbeat
    webhook_configs:
      - url: "{{ .healthchecks_heartbeat }}"
  - name: discord_warn
    discord_configs:
      - webhook_url: "{{ .discord_warn }}"
        send_resolved: true
  - name: discord
    discord_configs:
      - webhook_url: "{{ .discord }}"
        send_resolved: true
  - name: discord_no_resolve
    discord_configs:
      - webhook_url: "{{ .discord }}"
        send_resolved: true
  - name: grafana_cloud
    webhook_configs:
      - url: "{{ .grafana_oncall }}"
        send_resolved: true
  # - name: cronitor
  #   webhook_configs:
  #     - url: "{{ .cronitor_heartbeat }}"
  #       send_resolved: true
templates:
  - /etc/alertmanager/config/*.tmpl
