---
vip_ips: ["10.0.0.6", "10.0.0.7"]
vip_priority_host: lb-1.lab
vip_router_id: 2
vip_metrics_enabled: true

crog_verbose: true
crog_actions:
  - name: Heartbeat
    command: ping -W 1 -c 1 8.8.8.8
    cron: "* * * * *"
    tries: 3
    when:
      start: "{{ healthcheck }}/start"
      success: "{{ healthcheck }}"

haproxy_listeners:
  - name: k3s-api
    bind: 10.0.0.7:6443
    mode: tcp
    balance: leastconn
    extras:
      - default-server check maxconn 20
      - option httpchk GET /healthz HTTP/1.0
      - http-check expect status 200
    servers: |
      {% for host in groups['k3s'] %}
      {% if hostvars[host].k3s_control_plane is defined and hostvars[host].k3s_control_plane %}
      server {{ host }} {{ hostvars[host].ansible_host }}:6443 check-ssl verify none
      {% endif %}
      {% endfor %}
