pod-gateway:
  image:
    pullPolicy: IfNotPresent
    repository: ghcr.io/angelnu/pod-gateway
    tag: v1.13.0
  webhook:
    image:
      pullPolicy: IfNotPresent
      repository: ghcr.io/angelnu/gateway-admision-controller
      tag: v3.12.0

  addons:
    vpn:
      enabled: true
      type: gluetun
      image:
        repository: ghcr.io/qdm12/gluetun
        tag: v3.40.0

      env:
        - name: VPN_SERVICE_PROVIDER
          value: mullvad
        - name: VPN_TYPE
          value: wireguard
        - name: FIREWALL
          value: "off"
        - name: DOT
          value: "off"
        - name: SERVER_CITIES
          value: London
        - name: DNS_KEEP_NAMESERVER
          value: "on"
        - name: WIREGUARD_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: vpn-gateway-secrets
              key: private_key
        - name: WIREGUARD_ADDRESSES
          valueFrom:
            secretKeyRef:
              name: vpn-gateway-secrets
              key: addresses
      securityContext:
        privileged: true

  DNS: 10.64.0.1

  routed_namespaces:
    - tunneled
