pod-gateway:
  image:
    pullPolicy: IfNotPresent
    repository: ghcr.io/angelnu/pod-gateway
    tag: v1.13.0

  webhook:
    image:
      pullPolicy: IfNotPresent
      repository: ghcr.io/angelnu/gateway-admision-controller
      tag: v3.12.0

  addons:
    vpn:
      enabled: true
      type: gluetun
      image:
        repository: ghcr.io/qdm12/gluetun
        tag: v3.40.0

      env:
        - name: VPN_SERVICE_PROVIDER
          value: mullvad
        - name: VPN_TYPE
          value: wireguard
        - name: VPN_INTERFACE
          value: wg0
        - name: FIREWALL
          value: "off"
        - name: DOT
          value: "off"
        - name: SERVER_COUNTRIES
          value: UK
        - name: SERVER_CITIES
          value: Manchester
        - name: HEALTH_VPN_DURATION_INITIAL
          value: 30s
        - name: HEALTH_TARGET_ADDRESS
          value: "1.1.1.1"
        - name: WIREGUARD_PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: vpn-gateway-secrets
              key: private_key
        - name: WIREGUARD_ADDRESSES
          valueFrom:
            secretKeyRef:
              name: vpn-gateway-secrets
              key: addresses
      securityContext:
        privileged: true

    netshoot:
      enabled: true
      resources:
        requests:
          cpu: 15m
          memory: 30M
        limits:
          memory: 30M

  routed_namespaces:
    - tunneled
