generic:
  nameOverride: homepage
  fullnameOverride: homepage

  replicaCount: 1

  image:
    repository: ghcr.io/gethomepage/homepage
    pullPolicy: IfNotPresent
    tag: v1.6.1

  service:
    port: 3000

  volumes:
    - name: homepage-config
      secret:
        secretName: homepage-config
    - name: logs
      emptyDir: {}

  probes:
    enabled: false

  env:
    - name: HOMEPAGE_ALLOWED_HOSTS
      value: homepage.plexmox.com

  volumeMounts:
    - mountPath: /app/config/bookmarks.yaml
      name: homepage-config
      subPath: bookmarks.yaml
    - mountPath: /app/config/kubernetes.yaml
      name: homepage-config
      subPath: kubernetes.yaml
    - mountPath: /app/config/services.yaml
      name: homepage-config
      subPath: services.yaml
    - mountPath: /app/config/settings.yaml
      name: homepage-config
      subPath: settings.yaml
    - mountPath: /app/config/widgets.yaml
      name: homepage-config
      subPath: widgets.yaml
    - mountPath: /app/config/logs
      name: logs

  ingress:
    enabled: true
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-public@kubernetescrd
    hosts:
      - host: homepage.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: homepage-plexmox-com-tls
        hosts:
          - homepage.plexmox.com
