generic:
  nameOverride: homepage
  fullnameOverride: homepage

  replicaCount: 1

  image:
    repository: ghcr.io/gethomepage/homepage
    pullPolicy: IfNotPresent
    tag: v1.7.0

  service:
    port: 3000

  volumes:
    - name: homepage-config
      secret:
        secretName: homepage-config
    - name: logs
      emptyDir: {}

  probes:
    enabled: false

  env:
    - name: HOMEPAGE_ALLOWED_HOSTS
      value: homepage.plexmox.com

  volumeMounts:
    - mountPath: /app/config/bookmarks.yaml
      name: homepage-config
      subPath: bookmarks.yaml
    - mountPath: /app/config/kubernetes.yaml
      name: homepage-config
      subPath: kubernetes.yaml
    - mountPath: /app/config/services.yaml
      name: homepage-config
      subPath: services.yaml
    - mountPath: /app/config/settings.yaml
      name: homepage-config
      subPath: settings.yaml
    - mountPath: /app/config/widgets.yaml
      name: homepage-config
      subPath: widgets.yaml
    - mountPath: /app/config/logs
      name: logs

  ingress:
    enabled: true
    annotations:
      kubernetes.io/tls-acme: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
      nginx.ingress.kubernetes.io/auth-method: "GET"
      nginx.ingress.kubernetes.io/auth-url: "https://auth.plexmox.com/api/authz/auth-request"
      nginx.ingress.kubernetes.io/auth-signin: "https://overseerr.plexmox.com"
      nginx.ingress.kubernetes.io/auth-response-headers: "Remote-User,Remote-Name,Remote-Groups,Remote-Email"
    hosts:
      - host: homepage.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: homepage-plexmox-com-tls
        hosts:
          - homepage.plexmox.com
