generic:
  nameOverride: echo
  fullnameOverride: echo

  replicaCount: 1

  image:
    repository: ealen/echo-server
    pullPolicy: Always
    tag: latest

  service:
    port: 80

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [echo.plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 80
        matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: auth-public
              namespace: traefik

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-public@kubernetescrd
    hosts:
      - host: echo.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: echo-plexmox-com-tls
        hosts:
          - echo.plexmox.com
