apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - pvc.yaml
  - secrets
helmCharts:
  - name: immich
    releaseName: immich
    version: 0.10.3
    repo: https://immich-app.github.io/immich-charts
    valuesFile: values.yaml
