image:
  # renovate: datasource=github-releases depName=immich-app/immich
  tag: "v2.4.1"

env:
  REDIS_HOSTNAME: dragonfly.dragonfly.svc.cluster.local
  DB_VECTOR_EXTENSION: pgvector
  DB_HOSTNAME:
    valueFrom:
      secretKeyRef:
        name: crunchy-pguser-immich
        key: host
  DB_USERNAME:
    valueFrom:
      secretKeyRef:
        name: crunchy-pguser-immich
        key: user
  DB_PASSWORD:
    valueFrom:
      secretKeyRef:
        name: crunchy-pguser-immich
        key: password
  DB_DATABASE_NAME:
    valueFrom:
      secretKeyRef:
        name: crunchy-pguser-immich
        key: dbname
  TZ: Europe/London

postgresql:
  gloabl:
    auth:
      existingSecret: crunchy-pguser-immich

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich

controller:
  strategy: Recreate

route:
  main:
    enabled: true
    hostnames: [immich.plexmox.com]
    kind: HTTPRoute
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: internal
        namespace: traefik
    rules:
      - backendRefs:
          - kind: Service
            name: immich-server
            port: 2283
        matches:
          - path:
              type: PathPrefix
              value: /

server:
  ingress:
    main:
      enabled: true
      ingressClassName: internal
      annotations:
        kubernetes.io/tls-acme: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
        nginx.ingress.kubernetes.io/proxy-body-size: "0"
      hosts:
        - host: immich.plexmox.com
          paths:
            - path: /
      tls:
        - secretName: immich-plexmox-com-tls
          hosts:
            - immich.plexmox.com
