apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: longhorn
spec:
  groups:
    - name: longhorn
      rules:
        - alert: LonghornNodeDown
          expr: (avg(longhorn_node_count_total) or on() vector(0)) - (count(longhorn_node_status{condition="ready"} == 1) or on() vector(0)) > 0
          for: 10m
          labels:
            severity: critical
          annotations:
            summary: There are {{ $value }} longhorn nodes that are not schedulable
        - alert: LonghornBackupFailed
          expr: count by (backup, volume) (longhorn_backup_state > 3) > 0
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: Backup {{ $labels.backup }} failed for {{ $labels.volume }}
        - alert: LonghornVolumeFillingUp
          expr: |
            (
              ( avg by (pvc) (longhorn_volume_actual_size_bytes{pvc!="data-thanos-compact-0"}) )
              /
              ( avg by (pvc) (longhorn_volume_capacity_bytes{pvc!="data-thanos-compact-0"}) )
            ) * 100 > 90
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: Volume {{ $labels.pvc }} is using > 90% of capactiy
        - alert: LonghornVolumeStatusCritical
          expr: longhorn_volume_robustness == 3
          for: 10m
          annotations:
            summary: Longhorn volume {{$labels.volume}} has faulted
          labels:
            severity: critical
        - alert: LonghornVolumeStatusWarning
          expr: longhorn_volume_robustness == 2
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: Longhorn volume {{$labels.volume}} is Degraded
        - alert: LonghornNodeNotSchedulable
          expr: longhorn_node_status{condition="schedulable"} != 1
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: Longhorn Node {{ $labels.node }} unschedulable due to {{ $labels.condition_reason }}
        - alert: LonghornVolumeWriteLatencyAnomaly
          expr: anomaly:longhorn_volume_write_latency:7d > 4
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: Write latency is > 3 standard deviations from expected on {{ $labels.pvc }}
        - alert: LonghornVolumeReadLatencyAnomaly
          expr: anomaly:longhorn_volume_read_latency:7d > 4
          for: 15m
          labels:
            severity: warning
          annotations:
            summary: Read latency is > 3 standard deviations from expected on {{ $labels.pvc }}
        # - alert: LonghornNightlyBackupHanging
        #   expr: sum(kube_job_status_completion_time{job_name=~"nightly.+"} - kube_job_status_start_time{job_name=~"nightly.+"}) > 600
        #   for: 5m
        #   labels:
        #     severity: warning
        #   annotations:
        #     summary: The longhorn nightly backup job has been running for more than 10 mins
