---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: vms
spec:
  groups:
    - name: pve
      rules:
        - alert: PVEDiskFillingUp
          expr: (sum by (id) (pve_disk_usage_bytes{id=~".*local-lvm"}) / sum by (id) (pve_disk_size_bytes{id=~".*local-lvm"})) * 100 > 90
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: PVE local-lvm disk filling on {{ $labels.id }}
        - alert: PVENodeDown
          expr: sum by (id) (pve_node_info) < 1
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: Proxmox node {{ $labels.id }} is down
    - name: vms
      rules:
        - alert: VMDown
          expr: 100 * (count by (instance) (up{job="node_exporter"} == 0) / count by (instance) (up{job="node_exporter"})) > 10
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: Target {{ $labels.instance }} is DOWN
        - alert: VMMemoryPressure
          expr: (sum by (instance) (node_memory_MemAvailable_bytes) / sum by (instance) (node_memory_MemTotal_bytes) * 100) < 5
          for: 5m
          labels:
            severity: critical
          annotations:
            summary: VM {{ $labels.instance }} has < 5% memory free for 5 mins
        - alert: CPULoad5Anomaly
          expr: (anomaly:node_load5:7d > 4) and on(instance) (node_load5 > 2)
          for: 10m
          labels:
            severity: warning
          annotations:
            summary: CPU Load 5 on {{ $labels.instance }} is > 3 standard deviations from expected for 5 mins
        - alert: CPUIdleAnomaly
          expr: abs(anomaly:node_cpu_seconds_idle:7d) > 3
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: CPU Idle Time on {{ $labels.instance }} is > 3 standard deviations from expected for 5 mins
        - alert: NetworkTxAnomaly
          expr: anomaly:node_network_transmit_bytes:7d > 3
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: Network Transmits on {{ $labels.instance }} is > 3 standard deviations from expected for 5 mins
        - alert: NetworkRxAnomaly
          expr: anomaly:node_network_receive_bytes:7d > 3
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: Network Received on {{ $labels.instance }} is > 3 standard deviations from expected for 5 mins
        - alert: SystemdLogsAnomaly
          expr: anomaly:systemd_logs_count:1d > 3
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: Systemd logs count on {{ $labels.host }}/{{ $labels.unit }} is > 3 standard deviations from expected for 5 mins
        - alert: NTPClockDrift
          expr: sum by (instance) (abs(timestamp(node_time_seconds) - node_time_seconds)) > 1
          for: 5m
          labels:
            severity: warning
          annotations:
            summary: NTP clock drift for {{ $labels.instance }} is over a second
