generic:
  nameOverride: organizr
  fullnameOverride: organizr

  replicaCount: 1

  image:
    repository: organizr/organizr
    pullPolicy: Always
    tag: latest

  service:
    port: 80

  resources:
    requests:
      cpu: 100m
      memory: 200Mi

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 80
        matches:
          - path:
              type: PathPrefix
              value: /

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
    hosts:
      - host: plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: plexmox-com-tls
        hosts:
          - plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 2Gi

  deploymentStrategy:
    type: Recreate

  probes:
    initialDelaySeconds: 15
    timeoutSeconds: 3

  config:
    fpm: "true"
    branch: "dev"
    PUID: "1000"
    PGID: "1000"
    TZ: Europe/London
