generic:
  nameOverride: outline
  fullnameOverride: outline

  replicaCount: 1

  image:
    repository: outlinewiki/outline
    pullPolicy: IfNotPresent
    tag: "1.5.0"

  service:
    port: 3000

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [docs.plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 3000
        matches:
          - path:
              type: PathPrefix
              value: /
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: auth-public

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-auth-public@kubernetescrd
    hosts:
      - host: docs.plexmox.com
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: docs-plexmox-com-tls
        hosts:
          - docs.plexmox.com

  pvc:
    enabled: true
    mountPath: /var/lib/outline/data
    storageClassName: longhorn
    size: 256M

  deploymentStrategy:
    type: Recreate

  probes:
    initialDelaySeconds: 30
    timeoutSeconds: 3

  config:
    NODE_ENV: production
    FORCE_HTTPS: "false"
    REDIS_URL: redis://dragonfly.dragonfly.svc:6379/2
    PGSSLMODE: disable
    URL: https://docs.plexmox.com

    FILE_STORAGE: local
    FILE_STORAGE_LOCAL_ROOT_DIR: /var/lib/outline/data
    FILE_STORAGE_UPLOAD_MAX_SIZE: "26214400"

    OIDC_CLIENT_ID: outline
    OIDC_AUTH_URI: https://auth.plexmox.com/api/oidc/authorization
    OIDC_TOKEN_URI: https://auth.plexmox.com/api/oidc/token
    OIDC_USERINFO_URI: https://auth.plexmox.com/api/oidc/userinfo
    OIDC_USERNAME_CLAIM: preferred_username
    OIDC_DISPLAY_NAME: Authelia
    OIDC_SCOPES: "openid offline_access profile email"

  env:
    - name: SECRET_KEY
      valueFrom:
        secretKeyRef:
          name: outline
          key: secret-key
    - name: UTILS_SECRET
      valueFrom:
        secretKeyRef:
          name: outline
          key: utils-secret
    - name: DATABASE_URL
      valueFrom:
        secretKeyRef:
          name: crunchy-pguser-outline
          key: uri
    - name: OIDC_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: outline
          key: authelia-client-secret

  securityContext:
    runAsUser: 0

  secrets:
    enabled: true
    key: outline-secrets
