---
vip_ips: []

vip_auth_enabled: false
vip_auth_pass: ""

vip_priority_host: ""

vip_router_id: 1

vip_check_script_enabled: false

vip_check_script: ""

vip_check_script_location: "/etc/keepalived/vip_check.sh"

vip_notify_script_enabled: false

vip_metrics_enabled: false

# renovate: datasource=github-releases depName=mehdy/keepalived-exporter
vip_metrics_version: 1.6.2

vip_metrics_port: 9165

vip_notify_script: |
  #!/bin/bash

  TYPE=$1
  NAME=$2
  STATE=$3

  case $STATE in
          "MASTER") /usr/sbin/service haproxy start
                    exit 0
                    ;;
          "BACKUP") /usr/sbin/service haproxy stop
                    exit 0
                    ;;
          "FAULT")  /usr/sbin/service haproxy stop
                    exit 0
                    ;;
          *)        echo "unknown state"
                    exit 1
                    ;;
  esac

vip_notify_script_location: "/etc/keepalived/vip_notify.sh"

vip_check_rise: 2
vip_check_fall: 2
vip_check_interval: 2

go_arch_map:
  i386: '386'
  x86_64: 'amd64'
  aarch64: 'arm64'
  armv7l: 'armv7'
  armv6l: 'armv6'
