generic:
  nameOverride: tautulli
  fullnameOverride: tautulli

  replicaCount: 1

  image:
    repository: linuxserver/tautulli
    pullPolicy: IfNotPresent
    tag: "2.16.1"

  service:
    port: 8181

  httpRoute:
    enabled: true
    labels:
      traefik-instance: public
    hostnames: [plexmox.com]
    parentRefs:
      - group: gateway.networking.k8s.io
        kind: Gateway
        name: public
        namespace: traefik
    rules:
      - port: 8181
        matches:
          - path:
              type: PathPrefix
              value: /tautulli
        filters:
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: organizr-auth-public
          - type: ExtensionRef
            extensionRef:
              group: traefik.io
              kind: Middleware
              name: tautulli

  ingress:
    enabled: false
    className: public
    annotations:
      kubernetes.io/tls-acme: "true"
      traefik.ingress.kubernetes.io/router.middlewares: traefik-organizr-auth-public@kubernetescrd,media-tautulli@kubernetescrd
    hosts:
      - host: plexmox.com
        paths:
          - path: /tautulli
            pathType: ImplementationSpecific
    tls:
      - secretName: plexmox-com-tls
        hosts:
          - plexmox.com

  pvc:
    enabled: true
    mountPath: /config
    storageClassName: longhorn
    size: 10Gi

  deploymentStrategy:
    type: Recreate

  probes:
    type: tcpSocket
    options:
      port: http
    initialDelaySeconds: 15

  config:
    PUID: "1000"
    PGID: "1000"
    TZ: Europe/London
